/* Chromana-magic Icon Font */
@font-face {
  font-family: 'Chromana-magic';
  src: url('../dist/magic/Chromana-magic-1.0.0.woff2') format('woff2'),
       url('../dist/magic/Chromana-magic-1.0.0.woff') format('woff'),
       url('../dist/magic/Chromana-magic-1.0.0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.magic-output {
  font-family: 'Chromana-magic';
  word-break: break-word;
}

.magic-icon {
  font-family: 'Chromana-magic';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* 不同模式的样式 */
/* 普通模式（默认） */
.normal {
  font-feature-settings: 'liga';
}

/* 阴影模式 */
.shadow {
  font-feature-settings: 'liga', 'ss01';
}

/* 扁平模式 */
.flat {
  font-feature-settings: 'liga', 'ss02';
}
